<p>
  Please activate your account by clicking <a href="<%= raw @verify_url %>">here</a> or by pasting the following link into your web browser: <%= raw @verify_url %>.
</p>

<p>
  ps. Thanks for trying Sceopa!
</p>

<p>
  --<br>
  Sceopa.com
</p>
