<div class="blog">
  <h1>
    <%= @user.username %> - posts
  </h1>
  <ul>
    <%= for post <- @posts do %>
      <li>
        <a href="<%= post_path(@conn, :show, post) %>">
          <%= post.title %>
        </a>
        <%= if not post.public do %>
          <span class="info">[draft]</span>
        <% end %>
        <span class="blog-meta"> - <%= human_relative_time_from_now(post.updated_at) %></span>
      </li>
    <% end %>
  </ul>
</div>
