<h1>Upload posts</h1>

<p>You can upload multiple posts at once using a JSON file with the following format:</p>

<pre>
{
    "posts": [{
        "title": "An example article",
        "public": false,
        "inserted_at": "2017-02-20T17:10:02.165835",
        "updated_at": "2017-02-20T17:10:02.173398",
        "content": "Lorem ipsum dolor sit amet..."
    }]
}
</pre>

<p>where the <em>inserted_at</em> and <em>updated_at</em> fields are in ISO 8601 format.</p>

<%= form_for @conn, user_import_posts_path(@conn, :update, @user.id), [as: :import_posts, multipart: true], fn _f -> %>
  <div class="form-group">
    <input type="file" id="file" name="file" accept=".json" required />
  </div>

  <%= submit "Upload posts", class: "button-small" %>
<% end %>
