/* Colours
  light grey: hsla(0, 0%, 0%, 0.38);
  mid grey: hsla(0, 0%, 0%, 0.54);
  dark grey: hsla(0, 0%, 0%, 0.87);
  light purple: #ba68c8;
  mid purple: #9c27b0;
  dark purple: #7b1fa2;
  mid red (errors): #e57373;
*/

/* General */
body {
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: hsla(0, 0%, 0%, 0.87);
  font-size: 18px;
}

h1 {
  font-size: 40px;
  line-height: 125%;
}

a {
  color: #9c27b0;
}

.button-small {
  background-color: #ba68c8;
  padding: 10px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button-large {
  background-color: #ba68c8;
  padding: 20px;
  color: white;
  font-size: 23px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button-small:hover, .button-large:hover {
  background-color: #9c27b0;
}

main {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 700px;
}

table {
  border-collapse: collapse;
}

table, th, td {
   border: 1px solid hsla(0, 0%, 0%, 0.38);
}

th {
  text-align: center;
}

th, td {
  padding: 0.25rem 0.5rem;
}

td {
  text-align: left;
}

blockquote {
  border-left: 0.25rem solid hsla(0, 0%, 0%, 0.38);
  margin: 0;
  padding-left: 1rem;
  color: hsla(0, 0%, 0%, 0.54);
}

.info {
  color: #ba68c8;
}

/* Syntax highlighting */
div.sourceCode, pre:not(.sourceCode) {
  padding-left: 1rem;
  overflow-x: auto;
}
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
                                                                     { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode {}
code.sourceCode span.kw { color: #007020; font-weight: bold; }
code.sourceCode span.dt { color: #902000; }
code.sourceCode span.dv { color: #40a070; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #4070a0; }
code.sourceCode span.co { color: #60a0b0; font-style: italic; }
code.sourceCode span.ot { color: #007020; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #06287e; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }

/* Flash */
.flash-info {
  color: #9c27b0;
}

.flash-error {
  color: #e57373;
}

/* Forms */
label {
  display: block;
}

input {
  padding: 10px;
  color: hsla(0, 0%, 0%, 0.87);
  font-size: 18px;
  border-radius: 0.25rem;
  border: 1px solid hsla(0, 0%, 0%, 0.54);
  width: 100%;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: auto;
}

textarea {
  padding: 10px;
  color: hsla(0, 0%, 0%, 0.87);
  font-size: 18px;
  border-radius: 0.25rem;
  border: 1px solid hsla(0, 0%, 0%, 0.54);
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
}

.form-help {
  font-size: 13px;
  color: hsla(0, 0%, 0%, 0.54);
}

.help-block {
  color: #e57373;
}

.form-group {
  padding-bottom: 20px;
}

.form-link input[type=submit] {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  text-decoration: underline;
  color: #9c27b0;
  width: auto;
  cursor: pointer;
}

/* Header */
header {
  padding: 20px;
  display: flex;
}

.logo {
  font-weight: bold;
  color: #ba68c8;
  text-decoration: none;
  font-size: 23px;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-left: 20px;
}

header a {
  color: hsla(0, 0%, 0%, 0.87);
}

/* Blog */
.blog ul {
  list-style: none;
  padding-left: 0;
}

.blog a {
  color: hsla(0, 0%, 0%, 0.87);
}

.blog-meta {
  color: hsla(0, 0%, 0%, 0.54);
}

/* Posts */
.post-meta {
  font-size: 13px;
  color: hsla(0, 0%, 0%, 0.54);
}

/* Dashboard */
.dashboard-create {
  text-align: right;
  padding-bottom: 20px;
}

.dashboard-post-item {
  display: flex;
}

.dashboard-post-item-title {
  flex-grow: 1;
}

.dashboard-post-item-title a {
  color: hsla(0, 0%, 0%, 0.87);
}

.dashboard-post-item-options {
  display: flex;
  justify-content: flex-end;
}

.dashboard-post-item-option {
  padding-left: 10px;
}

/* Narrow/small devices */
@media screen and (max-width: 600px), screen and (max-device-width: 600px)  {
  main {
    padding-top: 0;
  }

  header {
    padding-bottom: 10px;
  }

  nav ul {
    padding-left: 1rem;
  }
}
