<h1>Sign in</h1>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn _f -> %>
  <div class="form-group">
    <label for="session_email">Email</label>
    <input type="email" id="session_email" name="session[email]" maxlength="200" required />
  </div>
  <div class="form-group">
    <label for="session_password">Password</label>
    <input type="password" id="session_password" name="session[password]" maxlength="50" required />
  </div>
  <%= submit "Log in", class: "button-small" %>
<% end %>
