<div class="post-meta" >
  <a href="<%= user_path(@conn, :show, @user) %>"><span><%= @user.username %></span></a>
  <span><%= human_relative_time_from_now(@post.updated_at) %></span>
</div>
<h1>
  <%= @post.title %>
  <%= if not @post.public do %>
    <span class="info">[draft]</span>
  <% end %>
</h1>
<div><%= markdown(@post.content) %></div>
