<h1>Settings</h1>

<div><a href="<%= user_settings_username_path(@conn, :edit) %>">Change username</a></div>
<div><a href="<%= user_settings_password_path(@conn, :edit) %>">Change password</a></div>
<form action="<%= user_path(@conn, :delete, @user) %>" method="post" class="form-link">
  <input name="_method" type="hidden" value="delete">
  <input name="_csrf_token" type="hidden" value="<%= get_csrf_token() %>">
  <input type="submit" value="Delete account">
</form>
