<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Sceopa!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render Sceopa.Web.LayoutView, "header.html", conn: @conn, current_user: @current_user %>

    <main>
      <%= if get_flash(@conn, :error) do %>
        <div class="flash-error">
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>
      <%= if get_flash(@conn, :info) do %>
        <div class="flash-info">
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
